.profile__name-block {
  display: flex;
  flex-direction: row;
  place-items: baseline;
}

@media screen and (max-width: 660px) {
  .profile__name-block {
      align-items: center;
      justify-content: center;
  }
}
